#VS Code Files
*/.vscode/*
*/.vscode
Exp6/*
Exp7/*
Exp8/*
/Xtra/BankingGUIWebApplication/nbproject/private/
/Xtra/BankingGUIWebApplication/BankingGUIWebApplication-war/nbproject/private/
/Xtra/BankingGUIWebApplication/BankingGUIWebApplication-ejb/nbproject/private/
/Xtra/BankingGUIWebApplication/BankingGUIWebApplication-war/build/
/Xtra/BankingGUIWebApplication/BankingGUIWebApplication-ejb/build/
/Xtra/BankingGUIWebApplication/BankingGUIWebApplication-ejb/dist/
/Xtra/BankingGUIWebApplication/dist/
/Xtra/BankingGUIWebApplication/build/
/Xtra/BankingGUIWebApplication/BankingGUIWebApplication-war/dist/
/Xtra/BankApplication/nbproject/private/
/Xtra/BankApplication/BankApplication-war/nbproject/private/
/Xtra/BankApplication/BankApplication-ejb/nbproject/private/
/Xtra/BankApplication/BankApplication-war/build/
/Xtra/BankApplication/BankApplication-ejb/build/
/Xtra/BankApplication/BankApplication-ejb/dist/
/Xtra/BankApplication/build/
/Xtra/BankApplication/BankApplication-war/dist/
/Xtra/BankApplication/dist/