<link rel="stylesheet" href="/static/style.css">
<link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
<title>Login</title>
<div class="container">
    <div class="block">
        <div class="img">
            <img src="/static/favicon.png" alt="logo">
            <p class="title">XYZ Bank</p>
        </div>
        <form action="" method="POST">
            <input type="text" required placeholder="Username" name="username">
            <input type="password" required name="password" placeholder="Password">
            {% if type == 'FAILED' %}
                <p class="danger">{{ message }}</p>
            {% endif %}
            {% if type == 'SUCCESS' %}
                <p class="success">{{ message }}</p>
            {% endif %}
            <p>Dont have account? <a href="/register">Register Here</a></p>
            <button type="submit">Login</button>
        </form>
    </div>
</div>
